/*                                                                                                                              
                                                   .((((((((((((((((((((((                                                   
                                              .((((((((((((((((((((((((((((((((*                                             
                                           ((((((((((((((((((((((((((((((((((((((((                                          
                                       .((((((((((((((((((         *((((((((((((((((((                                       
                                       ((((((((((((((                   (((((((((((((((                                      
                                       (((((((((((                         /(((((((((((                                      
                                       (((((((((((                          (((((((((((                                      
                                       (((((((((((                          (((((((((((                                      
                                       (((((((((((                          (((((((((((                                      
                                       (((((((((((((/                       (((((((((((                                      
                                       (((((((((((((((((((((*                   *((((((                                      
                                       (((((((((((((((((((((((((((((,                                                        
                                       /((((((((((((((((((((((((((((((((((((,                                                
                                               ,((((((((((((((((((((((((((((((((((((*                                        
                                                        (((((((((((((((((((((((((((((((                                      
                                       (((((.                   /((((((((((((((((((((((                                      
                                       (((((((((((                      ,((((((((((((((                                      
                                       (((((((((((        ((,               (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((           ((((           (((((((((((                                      
                                       (((((((((((                         ((((((((((((                                      
                                       ((((((((((((((                    ((((((((((((((                                      
                                        (((((((((((((((               .((((((((((((((/                                       
                                          (((((((((((((((           (((((((((((((((                                          
                                            .(((((((((((((((      (((((((((((((((                                            
                                               ((((((((((((((( ,(((((((((((((((                                              
                                                 (((((((((((((((((((((((((((                                                 
                                                   ,((((((((((((((((((((((                                                   
                                                      ((((((((((((((((((                                                     
                                                        (((((((((((((.                                                       
                                                          *((((((((                                                          
                                                             ((((                                                            
                                                                                                                              */


/* Don't touch */
html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}

::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.swap-container, .transfer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.helptext {
    animation: 0.5s ease-out 0s 1 normal none running slideInFromLeft;
    display: none;
    background-color: rgb(94, 140, 16);
    height: 38px;
    padding: 0px 10px 0px 10px;
    width: auto;
    position: absolute;
    left: 5px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}