/*                                                                                                                              
                                                   .((((((((((((((((((((((                                                   
                                              .((((((((((((((((((((((((((((((((*                                             
                                           ((((((((((((((((((((((((((((((((((((((((                                          
                                       .((((((((((((((((((         *((((((((((((((((((                                       
                                       ((((((((((((((                   (((((((((((((((                                      
                                       (((((((((((                         /(((((((((((                                      
                                       (((((((((((                          (((((((((((                                      
                                       (((((((((((                          (((((((((((                                      
                                       (((((((((((                          (((((((((((                                      
                                       (((((((((((((/                       (((((((((((                                      
                                       (((((((((((((((((((((*                   *((((((                                      
                                       (((((((((((((((((((((((((((((,                                                        
                                       /((((((((((((((((((((((((((((((((((((,                                                
                                               ,((((((((((((((((((((((((((((((((((((*                                        
                                                        (((((((((((((((((((((((((((((((                                      
                                       (((((.                   /((((((((((((((((((((((                                      
                                       (((((((((((                      ,((((((((((((((                                      
                                       (((((((((((        ((,               (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((        ((((((((((        (((((((((((                                      
                                       (((((((((((           ((((           (((((((((((                                      
                                       (((((((((((                         ((((((((((((                                      
                                       ((((((((((((((                    ((((((((((((((                                      
                                        (((((((((((((((               .((((((((((((((/                                       
                                          (((((((((((((((           (((((((((((((((                                          
                                            .(((((((((((((((      (((((((((((((((                                            
                                               ((((((((((((((( ,(((((((((((((((                                              
                                                 (((((((((((((((((((((((((((                                                 
                                                   ,((((((((((((((((((((((                                                   
                                                      ((((((((((((((((((                                                     
                                                        (((((((((((((.                                                       
                                                          *((((((((                                                          
                                                             ((((                                                            
                                                                                                                              */


/* Don't touch */
html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}

::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.swap-container, .transfer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}